@model AdminViewModel

@{
    ViewData["Title"] = "Admin";
}


<div class="container container-main">
    <div class="jumbotron">
        <h2 id="index-page-h2">QUESTIONNAIRE DATA</h2>
        <form method="post">
            <div class="form-group col-md-10">
                <input asp-for="SearchQuery" class="form-control" type="search" placeholder="&#x1F50D;Search">
            </div>
            <div class="form-group col-md-2">
                <button asp-controller="Home" asp-action="Search" class="btn btn-default btn-block btn-primary" type="submit">Search</button>
            </div>

            <div class="form-group col-md-3">
                <label asp-for="@Model.Genders"></label>
                <select asp-for="@Model.SelectedFilters" class="form-control">
                    <option value="" selected="selected">-- None --</option>
                    @foreach (var option in Model.Genders)
                    {
                        <option value="@option.Id">@option.Text</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="@Model.AgeRanges"></label>
                <select asp-for="@Model.SelectedFilters" class="form-control">
                    <option value="" selected="selected">-- None --</option>
                    @foreach (var option in Model.AgeRanges)
                    {
                        <option value="@option.Id">@option.Text</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="@Model.States"></label>
                <select asp-for="@Model.SelectedFilters" class="form-control">
                    <option value=""selected="selected">-- None --</option>
                    @foreach (var option in Model.States)
                    {
                        <option value="@option.Id">@option.Text</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3" id="FilterClearButtons">
                <label></label>
                <div class="col-md-12 MarginBottom15">
                    <button asp-controller="Home" asp-action="Filter" class="btn btn-default btn-block btn-success" role="button">Filter</button>
                </div>
                <div class="col-md-12 MarginBottom15">
                    <button asp-controller="Home" asp-action="ClearAll" class="btn btn-default btn-block btn-danger" role="button">Clear All</button>
                </div>
            </div>
        </form>
        <div id="AnswersTable">
            @Html.Partial("~/Views/Shared/_TableData.cshtml", Model.Answers)
        </div>
    </div>
</div>