@model QuestionViewModel

@{
    ViewData["Title"] = "Question";
}

<div class="container container-main">
    <form method="post">
        <div class="jumbotron">
            <h2 class="question-background">@Model.QuestionNumber</h2>
            <input asp-for="@Model.QuestionSequence" value="@Model.QuestionSequence" type="hidden" />
            <p id="question-text">@Model.QuestionText<br></p>
            @if (@Model.Type == "text")
            {
                <span asp-validation-for="TextAnswer" class="text-danger"></span>
                <input asp-for="TextAnswer" class="form-control col-md-6" type="text">
            }

            @if (@Model.Type == "radio")
            {
                <span asp-validation-for="OptionRadioAnswer" class="text-danger"></span>
                <ul>
                    @foreach (var option in Model.Options)
                    {
                        <li><input asp-for="OptionRadioAnswer" value="@option.Id" type="radio">@option.Text</li>
                    }
                </ul>
            }
            @if (@Model.Type == "checkbox")
            {
                <span asp-validation-for="OptionCheckboxAnswers" class="text-danger"></span>
                <ul>
                    @for (var i = 0; i < Model.Options.Count; i++)
                    {
                        <li>
                            <input asp-for="@Model.OptionCheckboxAnswers[i].IsSelected" type="checkbox">@Model.Options[i].Text
                            <input asp-for="@Model.OptionCheckboxAnswers[i].Id" value="@Model.Options[i].Id" type="hidden" />
                            <input asp-for="@Model.OptionCheckboxAnswers[i].NextQuestion" value="@Model.Options[i].NextQuestion" type="hidden" />
                        </li>
                    }
                </ul>
            }
            <p id="start-register-buttons">
                @if (@Model.Order != 1)
                {
                    <button asp-controller="Home" asp-action="PreviousQuestion" class="btn btn-default btn-lg btn-previous btn-danger">
                        <i class="glyphicon glyphicon-arrow-left"></i>Previous
                    </button>
                }
                <button class="btn btn-default btn-lg btn-next btn-success" type="submit">
                    Next
                    <i class="glyphicon glyphicon-arrow-right"></i>
                </button>
            </p>
        </div>
    </form>
</div>